################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Задание 1.vcxproj.filters
/Задание 1.vcxproj
/Задание 1.vcxproj.user
/Z1.sln
/x64/Debug
/.vs
